@charset "UTF-8";
/*rgb(100, 151, 209);*/
body{
    background: rgba(167, 235, 244, 0.747);
    font: normal 15pt arial;
}
header{
    color: black;
    text-align: center;
    margin: 0px;
}
header > h1{
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 50px;
}
section{
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
    margin: 0px;
}
div#cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
div{
    text-align: center;
    padding: 10px;
}
div#res{
    text-align: center;
    padding-top: 10px;
}
footer{
    color: rgb(167, 185, 244);
    text-align: center;
    font-style: italic;
    padding-top: 40px;
}   

div#dpeso{
    padding: 3px;
}
div#dalt{
    padding: 3px;
}
div#dcal{
    padding: 3px;
}
input {
    background-color: #f0f0f0; 
    border: 1px solid #ccc;    
    padding: 10px;             
    font-size: 16px;          
    color: #333;               
    border-radius: 5px;        
  }
  input#txtp{
    width: 200px;
  }
  input#txta{
    width: 200px;
  }